#header-slogan-halfbg .bg {
    background-image: url('./sections/headers/header-slogan-halfbg/images/bg-pattern-1.png');
    background-repeat: repeat;
    background-position: center;
    opacity:0.05;
}

#header-slogan-halfbg .half-container-right {
    background-image: url('./sections/headers/header-slogan-halfbg/images/notebook-half-right@2x.png');
    background-size: cover;
}